img{
    width:100px;
}
.tableBody{
    width:95%;
    margin-top: 40px;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.header{
    background-color: rgb(142, 218, 229);
    color: rgb(3, 14, 24);
    padding: 10px 5px;
}
table, th, td {
    border: 1px solid rgb(238, 233, 233);
    border-collapse: collapse;
  }
